:root {
    --primary: #5183f1;
    --primary-hover: #1d4ed8;

    --success: #22c55e;
    --warning: #f59e0b;
    --danger: #ef4444;

    --background: #ffffff;
    --surface: #ffffff;

    --text-primary: #111827;
    --text-secondary: #6b7280;

    --border: #dbe3ec;

    --radius: 12px;
}